<h1>WELLCOME TO COMMENT PAGE</h1>
  <%= link_to 'create comment', new_blog_post_comment_path() %><br>
  <table class="table">
    <tr>
      <th>comments</th>
      <th colspan="4"></th>
    </tr>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.commitment %></td>
        <td>
          <%= link_to 'edit', edit_blog_post_comment_path(@blog, @post, comment.id) %>
        </td>
        <td><%= link_to 'Destroy', blog_post_comment_path(@blog, @post, comment.id),
                method: :delete,
                data: { confirm: 'Are you sure?' } %></td>
        <th colspan="5"></th>
      </tr>
    <% end %>
  </table>
